//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 22:44:59 2022
//! **************************************************************************

SCHEMATIC START;
COMP "L7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "P5" LOCATE = SITE "P5" LEVEL 1;
COMP "P7" LOCATE = SITE "P7" LEVEL 1;
COMP "L1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "P9" LOCATE = SITE "P9" LEVEL 1;
COMP "Segment0" LOCATE = SITE "P41" LEVEL 1;
COMP "Segment1" LOCATE = SITE "P40" LEVEL 1;
COMP "Segment2" LOCATE = SITE "P35" LEVEL 1;
COMP "Segment3" LOCATE = SITE "P34" LEVEL 1;
COMP "Segment4" LOCATE = SITE "P32" LEVEL 1;
COMP "Segment5" LOCATE = SITE "P29" LEVEL 1;
COMP "Digit0" LOCATE = SITE "P44" LEVEL 1;
COMP "State_1" LOCATE = SITE "P55" LEVEL 1;
COMP "Segment6" LOCATE = SITE "P27" LEVEL 1;
COMP "L2_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "Digit1" LOCATE = SITE "P43" LEVEL 1;
COMP "State_2" LOCATE = SITE "P56" LEVEL 1;
COMP "Digit2" LOCATE = SITE "P33" LEVEL 1;
COMP "State_3" LOCATE = SITE "P57" LEVEL 1;
COMP "Digit3" LOCATE = SITE "P30" LEVEL 1;
COMP "State_4" LOCATE = SITE "P58" LEVEL 1;
COMP "State_5" LOCATE = SITE "P59" LEVEL 1;
COMP "State_6" LOCATE = SITE "P61" LEVEL 1;
COMP "State_7" LOCATE = SITE "P62" LEVEL 1;
COMP "State_8" LOCATE = SITE "P66" LEVEL 1;
COMP "L3_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "P11" LOCATE = SITE "P11" LEVEL 1;
COMP "L4_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "Driver" LOCATE = SITE "P23" LEVEL 1;
COMP "L5_P75" LOCATE = SITE "P75" LEVEL 1;
COMP "L6_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "L0_P82" LOCATE = SITE "P82" LEVEL 1;
SCHEMATIC END;

