
# PlanAhead Generated physical constraints 

NET "Digit0" LOC = P44;
NET "CLKin_100Hz" LOC = P45;
NET "Digit1" LOC = P43;
NET "Digit2" LOC = P33;
NET "Digit3" LOC = P30;
NET "SegmentA" LOC = P41;
NET "SegmentB" LOC = P40;
NET "SegmentC" LOC = P35;
NET "SegmentD" LOC = P34;
NET "SegmentE" LOC = P32;
NET "SegmentF" LOC = P29;
NET "SegmentG" LOC = P27;
NET "State_1" LOC = P112;
NET "State_2" LOC = P111;
NET "State_3" LOC = P105;
NET "State_4" LOC = P104;
NET "State_5" LOC = P102;
NET "State_6" LOC = P101;
NET "State_7" LOC = P100;
NET "State_8" LOC = P99;
NET "SW0" LOC = P66;
NET "SW1" LOC = P62;
NET "SW2" LOC = P61;
